AuthType Basic
AuthUserFile "C:\Users\Ismae\Documents\informatique\ppe-vds\backoffice"
AuthName "Administration"
require valid-user

# protection du fichier .htpasswd
<Files ".htpasswd">
    Require all denied
</Files>
